DATABASE_URL=postgres://realiser:80295192@realiser_postgress:5432/realiser?sslmode=disable
SESSION_SECRET=mude-esta-chave-secreta-aqui
ADMIN_USER=realiser
ADMIN_PASSWORD=80295192
INTERNAL_API_KEY=mude-esta-chave-interna-aqui
NODE_ENV=production
PORT=3000
